import * as S from "./styles";

export type Props = {
  text?: string;
};
function {{pascalCase name}}({text}: Props): JSX.Element {
  return (
    <S.Container>
      <h1>{{pascalCase name}}</h1>
      <p>{text}</p>
    </S.Container>
  );
}

export default {{pascalCase name}};
