import * as S from "./styles";

function {{pascalCase name}}Page(): JSX.Element {
  return (
    <S.Container>
      <h1>{{pascalCase name}}Page</h1>
    </S.Container>
  );
}

export default {{pascalCase name}}Page;
